<!-- views/partials/footer.ejs -->
 

<footer class="site-footer overflow-hidden fixed-bottom">
    <div class="container">
      <div class="row">
            <div class="col-sm">
                <h6>About</h6>
                <p class="text-justify">OWL Alerts <i> is a 24/7 real time reporting system that
                    is tailored to the unique needs of university campus life and activity. Finding out 
                    what is happening on the Florida Atlantic University campus will be easy given any 
                    information reported through the Owl Alerts system will be categorized under one of 
                    the following three main classes, Events, Issues and Parking. </p>
            </div>

            <div class="col-sm">
                <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://lamp.cse.fau.edu/~cen4010fal19_g07/about-us.html">About Us</a></li>
                        <li><a href="/showpp">Privacy Policy</a></li>
                        <li><a href="/showtc">Terms and conditions</a></li>
                    </ul>
            </div>

        </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by Owl Alerts.
          </p>
        </div>
      </div>
    </div>
</footer>
