<div id="mySidebar" class="sidebar">
    <% if(sessionUser) { %>
        <% if(sessionUser.faculty || sessionUser.admin) { %>
            <a href="/users/users">Userlist</a>
        <% } %>
        <a href="/users/user/{{sessionUser.id}}">View Profile</a>
        <a href="#">About</a>
        <a href="/users/logout">Logout</a>
    <% } else { %>
        <a href="/users/signup">Sign-Up</a>
        <a href="/users/signin">Sign In</a>
        <a href="#">About</a>
    <% } %>
  </div>
  <script>
      var active = false;
    function toggleNav() {
        if(!active){
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            active = true;
        }
        else{
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft= "0"; 
            active = false;  
        }
    }
    </script>