<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body style="background-color:#BDBDBD">
		<div class="text-center">
			<h1>Unauthorized</h1>
			<p>You do not have the necessary permissions to access this page.</p>
			<p>To go back to the home page please click the following link:</p>
			<a href="/">Home</a>
		</div>
	</body>
</html>