<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body style="background-color:#BDBDBD">
		<div class="text-center">
			<h1>Internal Server Error</h1>
			<p>Looks like something went wrong!</p>
			<p>We track these errors automatically, but if the problem persists feel free to contact us.</p>
			<p>In the meantime, to go back to the home page please click the following link:</p>
			<a href="/">Home</a>
		</div>
	</body>
</html>