<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<body class="backgroundImage">
		<header> 
			<div>
					<% include ../../partials/header %>
			</div>
        </header>
        <% include ../../partials/sidebar %>
        <div id="main">
            <% include ../../partials/flash %>
                <div class="container">
                        <div class="card border-0 shadow my-5">
                            <div class="card-body p-5">
                        <div class="mt-4">
        <div class="container">
            <div class="mt-4 display-3 text-center">
                Post an Event
            </div>
            <h4 class="text-center mt-2 ">
                Please enter the correct event information below!
            </h4>
            <br>
            <div class="rounded mx-sm-4" style="background-color:white">
                <br>
                <form action="/events/create" method="post">
                    <div class="form-group mx-sm-5">
                        <label for="eventTitle">Event Title</label>
                        <input type="text" class="form-control" id="eventTitle" placeholder="Title" name="title">
                    </div>
                    <div class="form-group mx-sm-5">
                        <label for="eventLocation">Event Location</label>
                        <input type="text" class="form-control" id="eventLocation" placeholder="Location" name="location">
                    </div>
                    <div class="form-group mx-sm-5">
                            <label for="eventDescript">Description</label>
                            <input type="text" class="form-control" id="eventDescript" placeholder="Description" name="description">
                    </div>
                    <div class="form-group mx-sm-5">
                            <label for="startDate">Start Date</label>
                            <input type="datetime-local" class="form-control" id="startDate" placeholder="Start Date" name="start_date">
                    </div>
                    <div class="form-group mx-sm-5">
                            <label for="endDate">End Date</label>
                            <input type="datetime-local" class="form-control" id="endDate" placeholder="End Time" name="end_date">
                    </div>
                    <div class="form-group mx-sm-5">
                            <label for="endDate">Hosted By</label>
                            <input type="text" class="form-control" id="host" placeholder="FAU" name="host">
                    </div>
                    <div class="text-center pb-2">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
                
                </div>
                </div>
                </div>
            </div>
            
        </div>
        </div>
        <% include ../../partials/footer %>
    </body>
</html>