<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body style="background-color:#BDBDBD">
		<header> 
			<div>
					<% include ../partials/header %>
			</div>
        </header>
        <% include ../partials/sidebar %>
        <div id="main">
            <div class="container">
                <div class="mt-4 display-3 text-center">
                    Welcome to OWL Alerts
                </div>
                <div class="h3 mt-4 text-center">With this website, you can remain up to date on 
                        issues, events, and garage information at FAU!</div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-md-6">
                            <% if(!sessionUser) { %>
                                <div class="bg-secondary text-center mt-4">
                                    <div class="h5 text-light pt-4">
                                        Sign in or Sign up to begin 
                                        using OWL Alerts!
                                    </div>
                                    <div class="btn-group pb-5 mt-2" role="group" aria-label="Basic example">
                                        <a href="/users/signup" class="btn btn-dark btn-lg">Sign Up</a>
                                        <a href="/users/signin" class="btn btn-dark btn-lg">Sign In</a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="col"></div>
 
                    </div>   
                </div>
        </div>
        <footer> 
            <div>
                <% include ../partials/footer %>
            </div>
        </footer>
    </body>
</html>