<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body class="backgroundImage">
		<header> 
			<div>
					<% include ../partials/header %>
			</div>
        </header>
        <% include ../partials/sidebar %>
        <div id="main">
            <div class="container">
                <div class="mt-4 text-center">
                    <% include ../partials/flash %>
                </div>
                <div class="card border-0 shadow my-5">
                  <div class="card-body p-5">
                <div class="mt-4 text-center">
                    <div class="display-3">Welcome to OWL Alerts</div>
                    <h3 class="mt-4">With this website application, you can remain up to date on 
                            issues, events, and garage information at FAU!</h3>
                </div>
                
                
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-md-6">
                            <% if(!sessionUser) { %>
                                <div class="bg-secondary text-center mt-4">
                                    <div class="h5 text-light pt-4">
                                        Sign in or Sign up to begin 
                                        using OWL Alerts!
                                    </div>
                                    <div class="btn-group pb-5 mt-2" role="group" aria-label="Basic example">
                                        <a href="/users/signup" class="btn btn-dark btn-lg">Sign Up</a>
                                        <a href="/users/signin" class="btn btn-dark btn-lg">Sign In</a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="col"></div>
 
                    </div>   
                </div>
        </div>
        </div>
        </div>
        </div>
        <footer> 
                <div>
                    <% include ../partials/footer %>
                </div>
            </footer>
    </body>
</html>